*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdf1ec;
    height: 100vh;
   
}
.flex{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 420px;
    width: 654px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    height: 420px;
    width: 327px;
}

.product-img img {
    border-radius: 7px 0 0 7px;
}

.product-info {
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 250px;
    margin-right: 10px;
    padding-right: 20px;
}

.product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 2px;
    text-align: left;
    font-size: 30px;
    color: #474747;
}



.product-text h2 {
    margin: 0 0 20px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text p {
    margin: 10px 0 0 38px;
    font-family: 'Robot', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
}

.product-price-btn {
    display: flex;


}

.span1 {
    color: #79b0a1;
    margin: 0 0 0 35px;
    font-weight: lighter;
    height: 20px;
    font-family: 'Robot', serif;
    font-size: 34px;
}



.span2 {
    padding-left: 10px;
    margin-bottom: 20px;
    text-decoration-line: line-through;
    height: 20px;
    font-family: 'Robot', serif;
    font-size: 20px;
}

.btn-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    border: transparent;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    margin-bottom: 10px;
}


.btn:hover {
    background-color: #79b0a1;
}

@media only screen and (max-width:750px) {

   
        

   
    .main {
        margin-top: 200px;
        flex-direction: column;
        box-shadow: none;
    }

    .product-img {
        width: 70%;
    }
    .product-text h1{
        font-size: 30px;
    }
    .product-text h2{
        font-size: 15px;
    }
    .product-img img {
        width: 100%;
        border-radius: 7px 7px 0 0;
    }

    .product-info {
        width: 70%;
    }
}
@media only screen and (max-width:450px) {

   
        

   
    .main {
        margin-top: 200px;
        flex-direction: column;
        box-shadow: none;
    }

    .product-img {
        width: 70%;
    }
    .product-text h1{
        font-size: 15px;
        font: weight 12px;
    }
    .product-text h2{
        font-size: 8px;
    }
    .product-price-btn{
        position: absolute;
        margin-top: 19px;    }
    .span1{
        font-size: 15px;
    }
    .span2{
        font-size: 15px;
    }
    .product-img img {
        width: 100%;
        border-radius: 7px 7px 0 0;
    }

    .product-info {
        width: 70%;
    }
}